body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: black;


}

.menu{
	background-color: hsla(360, 100%, 12%, 1);
	color: white;
}
.header{
	background-color: hsla(360, 100%, 12%, 1);
	color: White;
	text-shadow: 2px 2px 2px #000;
	font-size: xx-large;

}
.contact{
	font-size:xx-small;
	color: White;
	text-shadow: 2px 2px 2px #000;
	text-align: right;
}
.orderSum{
	color:white;
}
.options {
	visibility: hidden;
}
